@import '~bootstrap/scss/bootstrap';
@import '~toastr/build/toastr.css';

// body {
//     margin:0;
// }
.navbar {
    max-height: 69px;
    overflow: hidden;
    background-color: #ff43229f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .navbar-mid {
    float: center;
    color: #000;
  }

  .navbar-right {
    float: right;
  }

  .page-header-image {
    z-index: -1;
    animation: pulse 10s infinite;
    height: 825px;
    max-height: 825px;
  }

  @keyframes pulse {
    0% {
      background: url('../../public/fancydrinks.jpg')no-repeat 0 0;
      background-size: 100% 100%;
      z-index: -1;
    }
    25% {
      background: url('https://s.doctoroz.com/styles/720x480/s3/sites/default/files/slideshow/IceWater720.jpg?itok=f9eN6ui2')no-repeat 0 0;
      background-size: 100% 100%;
      z-index: -1;
    }
    50% {
      background: url('../../public/spaghetti.jpg')no-repeat 0 0;
      background-size: 100% 100%;
      z-index: -1;
    }
    75% {
      background: url('../../public/burger.jpeg')no-repeat 0 0;
      background-size: 100% 100%;
      z-index: -1;
    }
    100% {
      background: url('../../public/fish.jpg')no-repeat 0 0;
      background-size: 100% 100%;
      z-index: -1;
    }
  }

  .function-bar {
    position: relative;
    top: 250px;
    text-align: center;
    z-index: 3;
  }

  .jumbotron {
    background: #EFEFEF;
    display:block;
    margin-left:auto;
    margin-right:auto;
    opacity: 0.80;
    // display: inline-block;
    // position: absolute;
    // text-align: center;
  }

  .authp {
    width: 100%;
    height: 700px;
    background: rgba(245,147,86,1);
    background: -moz-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,147,86,1)), color-stop(29%, rgba(221,121,71,1)), color-stop(57%, rgba(197,95,56,1)), color-stop(63%, rgba(192,90,53,1)), color-stop(91%, rgba(160,39,8,1)));
    background: -webkit-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -o-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -ms-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: linear-gradient(to right, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59356', endColorstr='#a02708', GradientType=1 );
  }

  .settingsp {
    display: none;
    width: 100%;
    height: 700px;
    background: rgba(245,147,86,1);
    background: -moz-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,147,86,1)), color-stop(29%, rgba(221,121,71,1)), color-stop(57%, rgba(197,95,56,1)), color-stop(63%, rgba(192,90,53,1)), color-stop(91%, rgba(160,39,8,1)));
    background: -webkit-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -o-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -ms-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: linear-gradient(to right, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59356', endColorstr='#a02708', GradientType=1 );
  }

  .allForms {
    display: none;
    height: 200px;
    background: rgba(245,147,86,1);
    background: -moz-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,147,86,1)), color-stop(29%, rgba(221,121,71,1)), color-stop(57%, rgba(197,95,56,1)), color-stop(63%, rgba(192,90,53,1)), color-stop(91%, rgba(160,39,8,1)));
    background: -webkit-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -o-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: -ms-linear-gradient(left, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    background: linear-gradient(to right, rgba(245,147,86,1) 0%, rgba(221,121,71,1) 29%, rgba(197,95,56,1) 57%, rgba(192,90,53,1) 63%, rgba(160,39,8,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59356', endColorstr='#a02708', GradientType=1 );
  }



  // Login Form //

.login-page {
  width: 400px;
  padding: 12% 0 0;
  margin: auto;
}

.settings-page {
  width: 400px;
  padding: 12% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: rgb(159, 162, 165);
  max-width: 400px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
  border-left: 3px solid #434a52;
  border-right: 3px solid #434a52;
}

.form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 15%;
  height: 51px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #3b4148;
  color: #a9a9a9;
  width: 85%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01499E;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #006DBF;
}

.form .message {
  margin: 15px 0 0;
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.form .message a {
  color: #01499E;
  text-decoration: none;
}

.form #sign-up {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}


// End Login Form //
.createRestaurant {
  display: none;
}

.editRestaurant {
  display: none;
}

.deleteRestaurant {
  display: none;
}

.showRestaurant {
  display: none;
}

.deleteRating {
  display: none;
}

.createRating {
  display: none;
}

.editRating {
  display: none;
}

.showRating {
  display: none;
}

#adminActions {
  display: none;
}

#userActions {
  display: none;
}

#showSettings {
  display: none;
}

#goBack {
  display: none;
}

// End Login Form //

//Footer section
.site__footer {
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

